/* Hydra CSS customizations for the Minerva mobile skin */

.content { max-width: calc(100% - 32px); }

/* Mobile header fixes for narrow width */
form.header {
    width: 99%;
    display: flex;
}

form.header > div {
    align-self: center;
}

form.header .branding-box {
    overflow: hidden;
    flex-grow: 2;
}

form.header .branding-box span {
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}
